* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 244, 182);
    color: #000000;
}

header nav {
    flex: 1;

}

header nav a {
    font-size: 1.5em;
    color: #31709B;
    text-decoration: none
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav li {
    list-style-type: none;
}

html {
    color: #000000;
    font-size: 18px;
    font-family: inherit;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    background-image: linear-gradient(#31709B, #9BC7D2);
    height: 100%;
}

h1 {
    font-weight: 400;
}

.h1-title,
.h2-title,
.ul-title {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}

a {
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    color: #FFFFFF;
}

p {
/*    margin-left: 30px;*/
/*    margin-right: 30px;*/
    width: 75%;
}

img {
    padding: 15px 10px 5px 10px;


}

.div-index {
    display: flex;
    justify-content: flex-end;
}

.logo {
    height: 10em;
}

.image-box {
    width: 15%;
    padding: 20px;
    display: inline-block
}

.img-size {
    width: 15%
}

.p-quote {
    background-color: rgb(255, 244, 182);
    border-radius: 20px;
    padding: 10px;
    width: 75%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
    font-weight: 100;
    font-size: 20px
}

.p-style {
    border-radius: 20px;
    padding: 10px;
    width: 75%;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
}

.main-nav {
    color: #FFF4B6;
    text-decoration-color: #FCC814;
    font-size: 150%;
}

.itinone {
    width: 200px;
    height: 200px;
}

.itintwo {
    width: 250px;
    height: 200px;
}

.itin {
    width: 100%;
    margin-left: 5%;
    margin-top: 2px;
    padding: 10px;
    color: #000000;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.cont1 {
    padding: 4vh;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.cont1-item {
    flex-basis: 33%;
}


.pics {
    background-color: #FFF4B6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    margin: 0px 20px 20px 20px;
}

.pics-text{
    margin-left: 10px;
    color:#FCC814;
}

.pics a {
    flex-grow: 1;
    flex-basis: 125px;
    max-width: 300px;
    margin: 5px;
}

.pics img {
    margin: 1em;
    height: auto;
    width: 150px;
    margin: 0;
    overflow: hidden;
}

form p {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
}

form label {
    flex:1;
    justify-content:center;
}

form input select{
    flex: 1;
    margin: 0 1em;
    border-radius: 5px;
}

form select {
    text-align: center;
    justify-content: center;
}

form-button {
    margin-right: 1em;
}

footer {
    background-color: #FCC814;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;

}

footer nav ul {
    display: flex;
    /*    margin-right: 30px;*/
    /*    margin-left: 30px;*/
}

footer nav a {
    font-size: 1em;
    padding: 1em;
}

footer nav li {
    list-style-type: none;
    padding: 1em;
}

@media screen and (max-width: 40rem) {
    .cont1,
    header,
    main,
    footer 
    form p{
        flex-direction: column;
    }
}
